autopep8==1.7.0
build==0.8.0
flake8==5.0.4
Jinja2==3.1.2
MarkupSafe==2.1.1
mccabe==0.7.0
msgbuf==0.0.1
packaging==21.3
pep517==0.13.0
pycodestyle==2.9.1
pyflakes==2.5.0
pyparsing==3.0.9
PyYAML==6.0
toml==0.10.2
tomli==2.0.1
